.main-about{
    width: 100%;
}
.section-about{
    width: 90%;
    margin-top: 50px;
    margin-bottom: 100px;
}

.article-about:nth-child(2){
    margin-top: 100px;
}


.image-container-about, .image-container-about img, .description-container{
    width: 100%;
}
.image-container-about, .description-container{
    max-width: 500px;
}

.description-container span{
    font-family: var(--poppins);
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 22px;
    text-transform: uppercase;
    color: #EC1C24;
}
.description-container h4{
    font-family: var(--poppins);
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 133%;
    color: #131D3B;
}
.description-container p{
    font-family: var(--roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 188%;
    color: #131D3B;
}
.description-container ul li{
    font-family: var(--roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 222%;
    color: #131D3B;
}

.description-container ul li::before {
    content: "• ";
    color: red; 
    font-size: 18px;
}

.section-company-vision{
    width: 100%;
    background-image: url('../../public/svg/svgAbout.svg');
    background-size: cover;
    margin-bottom: 50px;
    padding: 100px 0;
}

.company-vision{
    text-align: center;
    width: 90%;
    padding: 10px;
    max-width: 350px;
}

.company-vision span{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: #EC1C24;
}

.company-vision p{
    font-family: var(--roboto);
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    color: #F2F3F5;
    margin-bottom: 10px;
}

.article-founder:nth-child(2){
    margin-bottom: 60px;
}

.name-founder{
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 26px !important;
    color: #EC1C24 !important;
    padding: 10px 0;
}

.description-founder{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.image-founder{
    max-width: 300px !important;
}
.image-founder img{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


@media (min-width:820px){
    .image-container-about, .description-container{
        width: 45%;
    }
    .article-about{
        width: 100%;
    }
    .article-about{
        flex-direction: row !important;
        justify-content: space-between !important;
    }
    .article-founder{
        justify-content: space-evenly !important;
    }
    .section-company-vision{
        padding: 200px 0;
    }
    .company-vision{
        max-width: 400px;
    }
    
    .company-vision span{
        font-size: 16px;
        line-height: 22px;;
    }
    
    .company-vision p{
        font-size: 1.1rem;
        line-height: 24px;
    }
    .article-founder:nth-child(3) .image-founder{
        order: 2;
    }
}
@media (min-width:1200px){
    .description-container span{
        font-size: 14px;
    }
    .image-container-about{
        max-width: 600px;
    }
    .description-container{
        max-width: 600px;
    }
    .article-about{
        flex-direction: row !important;
        justify-content: space-evenly !important;
        max-width: 1400px;
    }

    #description-2{
        order: 1;
    }

    #image-2{
        order: 2;
    }

    .description-container ul li{
        line-height: 222%;
        font-size: 18px;
    }
    .description-container ul li{
        line-height: 266%;
    }
    .section-company-vision{
        height: 100vh;
    }
    .company-vision{
        max-width: 500px;
    }
    .company-vision span{
        font-size: 20px;
        line-height: 22px;;
    }
    
    .company-vision p{
        font-size: 1.2rem;
        line-height: 27px;
    }
    
}