.footer{
    background-color: rgba(20, 53, 94, 0.88);
}

.svg-footer{
    width: 90%;
    gap: 10px;
    max-width: 550px;
}


@media (min-width:1200px) {
    .svg-footer{
        max-width: 800px;
        row-gap: 10px;
        column-gap: 50px;
    }
}